<%- include partials/header.ejs %>
<main id="main" >
    <div class="search-conatainer z-index">
        <%- include partials/search.ejs %>    
    </div>
    <br/>
      
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-primary backgroud-transparent">
                    <div class="panel-heading">Recent Reviews for <span data-bind="text: SelectedCity"></span></div>
                    <div class="panel-body">
                        <div id="filter-div" class="row">
                            <div class="col-sm-6">
                                <div>
                                    <input id="no-style-text" data-bind="textInput: ReviewSearchString" class="form-control" type="text" placeholder="Search the service provider.." style="padding: 4px;"/>
                                </div>    
                            </div>
                            <div class="col-sm-6" style="text-align: right;">
                                <select id="review-sorter" class="btn btn-sm btn-primary" data-bind="options: SortOptions, value:SortBy"></select>
                            </div>
                        </div>
                        <hr/>
                        <!-- ko foreach: TopfiveReviews -->
                        <div class="review-display-widget">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="https://i.imgur.com/ySSnbpt.png" class="img-rounded" alt="Cinque Terre" >
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span data-bind="text: ServiceProvider" style="font-size:1.1em; color:brown; font-weight:bold;"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <%- include partials/starRatings %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span data-bind="text: Description" style="width: 100%;"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2">
                                    <button class="btn btn-link" data-toggle="modal" data-target="#viewReviewModal" data-bind="click: $parent.ViewReview" style="margin-top: 2px; align: right;">Read Full</button>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->                       
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary backgroud-transparent">
                    <div class="panel-heading">Top rated ISPs in <span data-bind="text: SelectedCity"></span></div>
                    <div class="panel-body">
                        <!-- ko foreach: TopFiveIsp -->
                        <div class="review-display-widget">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="https://i.imgur.com/ySSnbpt.png" class="img-rounded" alt="Cinque Terre" >
                                </div>
                                <div class="col-sm-9">
                                    <strong><span data-bind="text: isp" style="font-size:1.1em; color:brown; font-weight:bold;"></span></strong>
                                </div>
                                <div class="col-sm-9" style="text-align: left">
                                    <div>
                                        <div style="display: inline;">
                                            <span class="rating-block">
                                                <span data-bind="text: avgRating"></span>
                                                <span class="glyphicon glyphicon-star star-color"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->                        
                    </div>
                </div>
            </div>
        </div>
        <div id="viewReviewModal" class="modal fade" role="dialog">
            <%- include partials/viewReviewModal.ejs %>
        </div>
    </main>
    <label id="hidden-city" style="display: none"><%=city%></label>
<%- include partials/footer.ejs %>